<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Maarten van Gompel" />
        <title>VALKUIL.net Spellingcorrector</title>
        <link rel="StyleSheet" href="{{ style }}" type="text/css" />
        <script type="text/javascript" src="{{jquery}}"></script>
        <script type="text/javascript" src="{{rotatescript}}"></script>
        <script type="text/javascript" src="{{ script }}"></script>
        <link rel="shortcut icon" href="{{ icon }}" />
    </head>
    <body>
        <div id="stage">
            <div id="header">
            </div>
            <div id="topbar">
                <ul>
                    <li><a href="/">Invoerscherm</a></li>
                    <li><a href="/about/">Over VALKUIL.net</a></li>
                </ul>
            </div>
            <div id="errormessage">
                <h2>Oeps! Een fout!</h2>
                <p>{{ errormessage }}</p>
                <a href="/">Ga terug naar het invoerscherm</a>
            </div>
            <!-- TECHICAL DETAILS: {{ debugmessage }} -->
            <div id="footer">
            </div>
        </div>
    </body>
</html>
